/* ---Titels--- */
/* --- 1 - Global --- */
/* --- 2 - Navigation --- */
/* --- 3 - Gameboard --- */
/* --- 4 - Buttons --- */


/* ---Global--- */

body {
    background: royalblue;
    font-family: "Raleway", sans-serif;
    text-align: center;
    text-decoration: none;
    color: beige;
}

.quote-box {
    font-size: 15px;
}

.quote {
    font-size: 50px;
}

/* ---Navigation--- */

nav ul {
    list-style: none;
    background-color: blue;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.5em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 0.7%;
}

nav a {
    text-decoration: none;
    color: beige;
    display: block;
}

nav a:hover {
    background-color: beige;
    color: #4a4a4f;
}

/*---Images---*/

@media screen and (max-width:50em){
.logo {
    display: flexbox;
    border-top: 20px solid royalblue;
    width: 50%;
    height: 50%;
    padding-top: 5%;
}
}

/* ---Gameboard--- */

.main {
    font-size: 2rem;
}

@media screen and (min-width:600px) {
.game-area {
    height: 200px;
}
}

.t-rules {
    border: 1rem;
    margin-left: 25%;
    margin-right: 25%;
}

.rules {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    padding-bottom: 20px;
    border: 1rem;
}

.rules ul {
    list-style: none;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px;
    padding-bottom: 20px;
    border: 1rem;
}

/* ---Buttons--- */

.btn {
    width: 150px;
    height: 60px;
    color: black;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    border: 5px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 10px;
    transition: all 0.4s;
}

.btn:hover {
    background-color: black;
    color: beige;
}

